// BCS-media Theme
$primary-bcs: #CD0E2D;
$primary-bcs-transparent: rgba(210, 9, 51, 0.3);
$gray-bcs: #BDBEC0;
$gray: #626262;

// Global Variables
$white: #FFFFFF;
$light: #F5F6FA;
$light-gray: #DFDFDF;
$dark: #231F20;
$black: #000000;
